*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

p{
	margin-bottom: 0
}
html, body, #root{
	height: 100%;
}
body{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
button{
	cursor: pointer
}